#readybtn{
  width: 100%;
  height: 30%;
  font-size: 1.5rem;
  border-radius:  5px ;
  margin-top: 20%;
  margin-bottom: 20%;
}
 #readybtn:hover{
  font-size: 2rem;
}
#leavebtn{
  width: 100%;
  font-size: larger;
  background-color: #1677ff;
  border-color:  #1677ff;
  color: aliceblue;
  border-radius: 6px;
}
#leavebtn:hover{
  font-size: 1rem;
}