
/* .chatBox{
  padding-top: 2%;
  width: 80vw;
  height: 80vh;
  border: solid 1px;
  border-color: #9EEA6A;

}; */
.chatRecode{
   width: 76vw;
  height: 50vh;
 overflow: auto;
 /* background-color: #6a7fea;                                                                  */
}

.chatRecode::-webkit-scrollbar{
  width:6px;height:6px;
  background-color: #00000040;
}
.chatRecode::-webkit-scrollbar-thumb{
  background-color:#9a9a9a;/*rgba(0,0,0,1);*/
  border-radius:10px;
}
.chatRecode::-webkit-scrollbar-track{
  background-color:transparent;
}

.left,.right{
  /* position: relative; */
  margin-bottom: 15px;   
}
 /*使左右的对话框分开*/
.right{     
  text-align: right;

}
.left > p{
display: inline-block;
  padding: 8px 8px;
  border-radius: 20px;
  background-color: #9EEA6A;
}
.right > p{    /*使内容居中*/
  display: inline-block;
  padding: 8px 8px;
  border-radius: 20px;
  background-color: #FC3;
   text-align: left;
}
/* .left:before{
 content: '';
  display: block;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  position: absolute;
  top: 11px;
}

.right:after{  
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  position: absolute;
  top: 11px;
}

.left:before{    
  border-right: 16px solid #9EEA6A;
  left: -28px;
}
.right:after{    
  border-left: 16px solid #FC3;
  right: -30px;
} */